{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'ac/typeaheadjs.css' %}">

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {# // <script type="text/javascript" src="{% static 'ac/bloodhound.min.js' %}"></script> #}
    <script src="{% static 'ac/bootstrap3-typeahead.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('#query').typeahead({
                    source: ['alpha','allpha2','alpha3','bravo','charlie','delta','epsilon','gamma','zulu']
            });
       });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="well">
            <form>
                <fieldset>
                    <div class="form-group" id="the-basics">
                        <label for="query">Search:</label>
                        <input type="text" class="form-control typeahead" name="query" id="query" placeholder="Start typing something to search..." data-provide="typeahead">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </fieldset>
            </form>
            </div>
        </div>
    </div>
</body>
</html>
